PSEAT_INCLUDE_PATH = /home/aq10/code/PSEAT/src
PSEAT_TOP_SRC_PATH = $(PSEAT_INCLUDE_PATH)
PSEAT_OBJ_PATH = /home/aq10/code/PSEAT/obj
PSEAT_LIB_PATH = $(PSEAT_OBJ_PATH)
PSEAT_EXE_PATH =  /home/aq10/code/PSEAT/bin
PSEAT_SCRIPT_PATH =  /home/aq10/code/PSEAT/src/scripts

LIB_DRIVER = libpseat_driver.a
LIB_EVAL = libpseat_eval.a
LIB_SEARCH = libpseat_search.a
LIB_ML = libpseat_ml.a
LIB_INTERFACE = libpseat_interface.a

ALLLIBS = $(PSEAT_LIB_PATH)/$(LIB_DRIVER) \
          $(PSEAT_LIB_PATH)/$(LIB_SEARCH) \
          $(PSEAT_LIB_PATH)/$(LIB_EVAL) \
          $(PSEAT_LIB_PATH)/$(LIB_ML) \
          $(PSEAT_LIB_PATH)/$(LIB_INTERFACE)

EXEC = pseat


CXX=g++
CC=gcc

CXXFLAGS = -g -O2 -DLOG
CFLAGS = -g -O2
CPPFLAGS =  -I. -I$(PSEAT_INCLUDE_PATH)

AR = /usr/bin/ar 
ARRFLAGS = -rv 